* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Purple Purse', cursive;
}

body {
  background-color: #322c34;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h5 {
  text-align: center;
  color: white;
}

/* End General  */
/* ========================================================================================== */
/* Start Index */

#bgAwal {
  background-image: url('../img/bg-Home1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

#bgAwal::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(139, 139, 139, 0.5);
  position: absolute;
  z-index: 1;
  bottom: 0;
  filter: blur(8px);
}

#bgAwal .container-fluid {
  z-index: 2;
  position: relative;
}

#bgAwal .container-fluid .row {
  height: 100vh;
}

#bgAwal .container-fluid .row .col-lg-6 {
  display: flex;
}

#bgAwal .container-fluid .row .col-lg-6 a {
  text-decoration: none;
  color: black;
  border-radius: 100px;
}

#bgAwal .container-fluid .row .col-lg-6 a:hover {
  color: white;
}

#bgAwal .container-fluid .row .col-lg-6 a h1 {
  font-size: 5rem;
  padding: 20px 50px;
  margin: 0;
}

#bgAwal .container-fluid .row .col-lg-6 .size-img-logo {
  width: 100%;
  position: relative;
}

/* End Index  */
/* ========================================================================================== */
/* Start Game */

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-size: 6rem;
  font-weight: 700;
  color: #e2ded1;
  text-align: center;
  filter: drop-shadow(1px 3px 1px rgba(0, 0, 0, 0.6));
}

.overlay-text-small {
  font-size: 1.9rem;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
  cursor: pointer;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

#bg-game .container-fluid .row .bg-section .logo {
  margin: auto;
  width: 100%;
  margin-top: 14rem;
}

#bg-game .container-fluid .row .section-game {
  min-height: 100vh;
  background-color: #322c34;
}

#bg-game .container-fluid .row .section-game .info {
  margin: auto;
  padding: 20px 10px 5px 10px;
}

#bg-game .container-fluid .row .section-game .infoFlip {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-align: right;
  padding-right: 15px;
}

#bg-game .container-fluid .row .section-game .infoTime {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}

#bg-game .container-fluid .row .section-game .quit {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  transition: 0.5s;
  text-align: left !important;
  padding: 5px 20px 10px 20px;
}
#bg-game .container-fluid .row .section-game .quit:hover {
  color: rgb(0, 0, 0);
  font-weight: 900;
  text-decoration: none;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
}

#bg-game .container-fluid .row .section-game .mainCard {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 30px auto;
  justify-content: center;
  perspective: 500px;
  width: 100%;
  height: auto;
  padding: 5px 20px;
}

#bg-game .container-fluid .row .section-game .mainCard .card {
  position: relative;
  height: 150px;
  width: 125px;
}

#bg-game .container-fluid .row .section-game .mainCard .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 12px;
  transition: transform 500ms ease-in-out;
  padding: 20px;
}
#bg-game .container-fluid .row .section-game .mainCard .card .face-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 12px;
  transition: transform 500ms ease-in-out;
  padding: 20px;
}

#bg-game .container-fluid .row .section-game .mainCard .matched .value {
  animation: shake 1s linear infinite 500ms;
  visibility: hidden;
}

.back {
  background-color: #f6f7f3;
  transition: all 0.3s ease-in-out;
}

.back:hover {
  box-shadow: 0 0 30px rgba(174, 171, 158, 0.9);
}

.front {
  background-color: #f6f7f3;
  transform: rotateY(180deg);
  transition: all 0.3s ease-in-out;
}

.card.visible .back {
  transform: rotateY(-180deg);
}

.card.visible .front {
  transform: rotateY(0deg);
}

.info {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  gap: 50px;
}

/* End Game  */
/* ========================================================================================== */
/* Mobile Device */

@media only screen and (max-width: 600px) {
  #bgAwal .container-fluid .row .col-lg-6 {
    display: flex;
    flex-direction: column;
  }
  #bgAwal .container-fluid .row .col-lg-6 a h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 30px;
  }
  #bg-game .bg-section {
    display: none;
    visibility: hidden;
  }
  #bg-game .mainCard {
    grid-template-columns: repeat(3, auto) !important;
  }

  #bg-game .card {
    position: relative;
    height: 100px !important;
    width: 80px !important;
  }

  #bg-game .info {
    gap: 30px;
  }

  #web1,
  #web2,
  #web3,
  #web4 {
    visibility: hidden;
    display: none;
    height: 0px;
    content: none;
  }

  .infoFlip,
  .infoTime {
    padding: 0px !important;
    font-size: 0rem !important;
    visibility: hidden;
    display: flex;
    flex-direction: column-reverse;
  }
  #time,
  #flips {
    visibility: visible;

    font-size: 1.5rem;
  }

  .quit {
    text-align: right !important;
    padding: 5px 0px;
    font-size: 1.5rem !important;
    height: 10px !important;
  }

  @media only screen and (max-width: 1023px) and (min-width: 600px) {
    #bgAwal .container-fluid .row .col-lg-6 {
      display: flex;
      flex-direction: column;
    }

    #bgAwal .container-fluid .row .col-lg-6 .size-img-logo {
      width: 50%;
      cursor: pointer;
      position: relative;
      margin: auto;
    }

    #bgAwal .container-fluid .row .col-lg-6 a h1 {
      font-size: 1.5rem;
      text-align: center;
      padding: 10px 30px;
    }
  }

  /* End Mobile Device  */
  /* ========================================================================================== */
}
