
body {
  background-image: url('../img/bg4.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#bgAwal .container .col-md-6 h1 {
  color: black;
  text-align: center;
  position: relative;
  top: 300px;
  padding: 20px;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  box-sizing: content-box;
  font-size: 80px;
  text-decoration: none;
  text-transform: uppercase;
  width: 20rem;
  margin: auto;
}

.link {
  text-decoration: none;
}

#bgAwal .container .col-md-6 h1:hover {
  background-color: #000000;
  color: white;
  opacity: 1;
  cursor: pointer;
  text-shadow: 0 0px 10px #000000;
}

@media (max-width: 400px) {
  #bgAwal .container .col-md-6 h1 {
    width: 10rem;
    margin: auto;
    font-size: 40px;
  }
}
