* {
  font-family: 'Purple Purse', cursive;
}

h1 {
  text-align: center;
}
h1 a {
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px 10rem;
  cursor: pointer;
  text-decoration: none;
  box-sizing: content-box;
}

h1 a:hover {
  background-color: black;
  color: white;
}

h5 {
  padding-top: 5rem;
  text-align: center;
}

.bg-section {
  background-image: url('../img/home/bg-left.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.bg-section .logo {
  margin: auto;
  width: 100%;
  height: auto;
}

.copyrights {
  width: 30px;
  height: auto;
}

@media only screen and (max-width: 768px) {
  h1 a {
    padding: 15px 5rem;
  }
  .bg-section .logo {
    margin: auto;
    width: 100%;
    height: auto;
    margin-top: 11rem;
  }
}

@media only screen and (max-width: 426px) {
  .bg-section .logo {
    margin-top: 5rem !important;
  }
}

/* Mobile Device */
@media only screen and (min-width: 376px) {
  .mobile {
    visibility: hidden;
    display: none;
  }
}

@media only screen and (max-width: 376px) {
  .web {
    visibility: hidden;
    display: none;
  }
  .mobile .logo {
    margin-top: 4rem !important;
  }
  .mobile .btn-startGame {
    border-radius: 50px;
    background-color: #3e8fc9;
    text-transform: capitalize;
    margin: auto;
    text-align: center;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
  }

  h5 {
    padding-top: 30px;
  }
}
